<div class="container-fluid">

    <div style="margin-top: 2%;">
        <h2 class="float-start">Lista dei Generi</h2>
        <div *ngIf="_user.loggedUser">
            <button class="btn btn-dark float-end" type="submit" (click)="addGenre()">Aggiungi Genere</button>
        </div>
    </div>

    <!-- Lista dei Generi -->
    <div class="float-start row" style="width: 100%;">
            <div *ngFor="let genre of genreList" style="margin-left: 1%;">
                <h3 class="genre-name">{{genre.name}}</h3>
                <div *ngIf="_user.id != -1 && _user.id == genre.created_by"> <!-- non arriva genre.created_by dal server, quindi i generi non saranno modificabili -->
                    <button type="button" class="btn btn-outline-info btn-sm" aria-label="Edit" (click)="editGenre(genre.id)">Modifica</button>
                </div>
            <!-- Lista dei Film appartenente al Genere -->
                <div class="row">
                    <div class="col-sm-6 col-md-4 col-lg-3 g-2" *ngFor="let film of genre.films"> 
                        <div class="card h-100">
                            <div class="card-header d-flex">
                                <span>{{film.duration.slice(0,5)}}</span>
                                <span>{{film.vote}}</span>
                            </div>
                                <img src="{{film.cover_url}}" alt="cover image">
                                <div class="container">
                                    <h5 class="card-title">{{film.title}}</h5>
                                    <h6 class="card-title">{{film.director}}, {{film.release_year}}</h6>
                                    <p class="card-text">{{film.description}}</p>
                                </div>
                        </div>
                    </div>
                </div>
        </div>
    </div>
</div>
