<h2>Aggiungi un Film</h2>

<div class="container">
    <form class="row g-3">

        <!-- Titolo -->
        <div class="col-md-6">
          <label for="title" class="form-label">Titolo</label>
          <input type="text" class="form-control" id="title" [(ngModel)]="title" name="title">
        </div>

        <!-- Regista -->
        <div class="col-md-6">
          <label for="director" class="form-label">Regista</label>
          <input type="text" class="form-control" id="director" [(ngModel)]="director" name="director">
        </div>

        <!-- Descrizione -->
        <div class="col-md-6">
          <label for="description" class="form-label">Descrizione</label>
          <textarea type="text" class="form-control" id="description" rows="5" [(ngModel)]="description" name="description"></textarea>
        </div>

        <!-- Trama -->
        <div class="col-md-6">
            <label for="plot" class="form-label">Trama</label>
            <textarea type="text" class="form-control" id="plot" rows="5" [(ngModel)]="plot" name="plot"></textarea>
        </div>

        <!-- Durata -->
        <div class="col-md-6">
            <label for="duration" class="form-label">Durata</label>
            <input type="text" class="form-control" id="duration" [(ngModel)]="duration" name="duration">
        </div>

        <!-- Voto -->
        <div class="col-md-6">
            <label for="vote" class="form-label">Voto</label>
            <input type="text" class="form-control" id="vote" [(ngModel)]="vote" name="vote">
        </div>

        <!-- Anno di Uscita -->
        <div class="col-md-6">
            <label for="release_year" class="form-label">Anno di Uscita</label>
            <input type="number" class="form-control" id="release_year" [(ngModel)]="release_year" name="release_year">
        </div>

        <!-- Tags -->
        <div class="col-md-6">
            <label for="tags" class="form-label">Tags</label>

          <!-- Tags Badges -->
          <div *ngFor="let tag of selectedTags">
            <span class="badge rounded-pill bg-primary" style="float: left; margin-bottom: 2%;">
              {{tag}}
              <button type="button" class="btn-close" aria-label="Close" (click)="removeTag(tag)"></button>
            </span>
          </div> <br>

          <!-- Tags Input -->
            <input type="text" class="form-control" id="tags" placeholder="Scrivete i Tag separati da virgola" [(ngModel)]="tags" name="tags" (ngModelChange)="tagIsChanged($event)">
        </div>

        <!-- Actors -->
        <div class="col-md-6">
          <label for="actors" class="form-label">Attori</label>

          <!-- Actor Badges -->
          <div *ngFor="let actor of selectedActors">
            <span class="badge rounded-pill bg-primary" style="float: left; margin-bottom: 2%;">
              {{actor}}
              <button type="button" class="btn-close" aria-label="Close" (click)="removeActor(actor)"></button>
            </span>
          </div> <br>

          <!-- Select Actors -->
          <select id="actors" class="form-select" [ngModel]="selectedActor" (ngModelChange)="actorIsChanged($event)" name="selectedActor">
            <option selected>Scegli...</option>
            <option *ngFor="let actor of actorList">
              {{actor.firstname}} {{actor.lastname}}
            </option>
          </select>
        </div>

      <!-- Generi -->
      <div class="col-md-6">
        <label for="genres" class="form-label">Generi</label>

        <!-- Genres Badges -->
        <div *ngFor="let genre of selectedGenres">
          <span class="badge rounded-pill bg-primary" style="float: left; margin-bottom: 2%;">
            {{genre}}
            <button type="button" class="btn-close" aria-label="Close" (click)="removeGenre(genre)"></button>
          </span>
        </div> <br>

        <!-- Select Genres -->
        <select id="genres" class="form-select" [ngModel]="selectedGenres" (ngModelChange)="genreIsChanged($event)" name="selectedGenres">
          <option selected>Scegli...</option>
          <option *ngFor="let genre of genreList">
            {{genre.name}}
          </option>
        </select>
      </div>

      <!-- URL Copertina -->
      <div class="col">
        <label for="cover_url" class="form-label">URL copertina</label>
        <input type="text" class="form-control" id="cover_url" [(ngModel)]="cover_url" name="cover_url">
      </div> <br>

      <!-- Immagine Copertina se presente -->
      <div class="container">
        <div class="card col">
          <img [src]="cover_url" alt="copertina non presente.">
        </div>
      </div>

      <!-- Add Film Button -->
        <div class="col-12">
          <button type="submit" class="btn btn-primary" (click)="addFilm()">Inserisci</button>
        </div>
      </form>
</div>