<h2>Aggiungi un Film</h2>

<div class="container">
    <form class="row g-3">
        <div class="col-md-6">
          <label for="title" class="form-label">Titolo</label>
          <input type="text" class="form-control" id="title">
        </div>
        <div class="col-md-6">
          <label for="description" class="form-label">Descrizione</label>
          <input type="description" class="form-control" id="description">
        </div>
        <div class="col-md-6">
            <label for="plot" class="form-label">Trama</label>
            <input type="plot" class="form-control" id="plot">
        </div>
        <div class="col-md-6">
            <label for="director" class="form-label">Regista</label>
            <input type="director" class="form-control" id="director">
        </div>
        <div class="col-md-6">
            <label for="duration" class="form-label">Durata</label>
            <input type="duration" class="form-control" id="duration">
        </div>
        <div class="col-md-6">
            <label for="vote" class="form-label">Voto</label>
            <input type="vote" class="form-control" id="vote">
        </div>
        <div class="col-md-6">
            <label for="release_year" class="form-label">Anno di Uscita</label>
            <input type="release_year" class="form-control" id="release_year">
        </div>
        <div class="col-md-6">
            <label for="cover_url" class="form-label">URL copertina</label>
            <input type="cover_url" class="form-control" id="cover_url">
        </div>
        <div class="col-md-6">
            <label for="tags" class="form-label">Tags</label>
            <input type="tags" class="form-control" id="tags">
        </div>
        <div class="col-md-6">
            <label for="actors" class="form-label">Attori</label>
            <input type="actors" class="form-control" id="actors">
        </div>
        <div class="col-md-4">
          <label for="genres" class="form-label">Generi</label>
          <select id="genres" class="form-select">
            <option selected>Scegli...</option>
            <div>
              <option>...</option>
            </div>
          </select>
        </div>

        <div class="col-12">
          <button type="submit" class="btn btn-primary">Sign in</button>
        </div>
      </form>
</div>