<h2>Aggiungi un Attore</h2>

<div class="container">
    <form class="row g-3">

        <!-- Nome -->
        <div class="col-md-6">
          <label for="firstname" class="form-label">Nome</label>
          <input type="text" class="form-control" id="firstname" [(ngModel)]="firstname" name="firstname">
        </div>

        <!-- Cognome -->
        <div class="col-md-6">
          <label for="lastname" class="form-label">Cognome</label>
          <input type="text" class="form-control" id="lastname" [(ngModel)]="lastname" name="lastname">
        </div>

        <!-- Data di Nascita -->
        <div class="col-md-6">
            <label for="birthdate" class="form-label">Data di Nascita</label>
            <input type="date" class="form-control" id="birthdate" [(ngModel)]="birthdate" name="birthdate">
        </div>

      <!-- URL Foto -->
      <div class="col">
        <label for="photo_url" class="form-label">URL Foto</label>
        <input type="text" class="form-control" id="cover_url" [(ngModel)]="photo_url" name="photo_url">
      </div> <br>

      <!-- Immagine Copertina se presente -->
      <div class="container">
        <div class="card col">
          <img [src]="photo_url" alt="foto non presente.">
        </div>
      </div>

      <!-- Add Actor Button -->
        <div class="col-12">
          <button type="submit" class="btn btn-primary" (click)="addActor()">Inserisci</button>
        </div>
      </form>
</div>